body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family:Arial, Verdana, Helvetica, sans-serif;
}
a {
	color:#06c;
	text-decoration:none;
}
a:visited {
	color:#66c;
}
a:hover {
	text-decoration:underline;
}
img {
	border:none;
}
#header {
}
#header h1 {
	margin-bottom:0;
}
#header h1 a {
	color:#06c;
	font-style:italic;
	text-decoration:none;
}
	#header .button {
		background-color:#333;
	}
#menu {
}
#menu ul {
}
#menu a {
	color:#fff;
}
#content {
}
#content h2 {
	border-bottom:3px solid #06c;
	margin-bottom:0;
	padding-right:.5em;
}
#content h3 {
	border-bottom:2px solid #000;
}
#content h2 a {
	color:#06c;
	text-decoration:none;
}
#content .postInfo {
	color:#aaa;
	font-size:.9em;
	margin-top:0;
}
#content .licenseInfo {
	color:#aaa;
	font-size:.8em;
	margin:0;
}
#content .post {
	margin-bottom:2em;
}
#content .post .advert {
	background-color:white;
	float:right;
	padding-bottom:.25em;
	padding-left:.25em;
	width:300px;
	height:100%;
}
#content .post .bottom {
	border-top:1px dashed #999;
	clear:both;
}
#content .post .bottom, #content .post .footer {
	font-size:.9em;
	padding:.25em .25em 0;
}
#content .post .bottom p {
	margin:0;
	padding:0;
}
#content .post .syntaxhighlighter, #content .post pre.code {
	clear:both;
	min-height:2em;
	width:700px;
	/*overflow:scroll;*/
}
#content h1 {
	font-size:1.2em;
}
#content #commentlist .comment {
	background-color:#e6e6ff;
	border:1px solid #ccd;
	margin-bottom:.5em;
	padding:.1em .25em;
}
#content #commentlist .comment p {
	margin-top:0;
}
#content #commentlist .comment p.content {
	margin-left:100px;
}
#content #commentlist .comment p.date {
	color:#999;
	font-size:.9em;
}
#content #commentlist .comment p.author {
	clear:both;
	font-size:.9em;
}
#content .commentForm label {
	clear:left;
	display:block;
	float:left;
	width:80px;
}
#content .commentForm input, #content .commentForm select {
	width:300px;
}
#commentCompose textarea {
	width:90%;
}
#commentPreview {
	display:none;
}

#content #archive h2 {
	font-size:1.1em;
}
#content #archive h2 img {
	display:none;
}
#content #archive table {
	font-size:.9em;
	width:99%;
}
#content #archive .date {
	padding-right:.25em;
	white-space:nowrap;
}
#content #archive .comments {
	padding:0;
	text-align:center;
}

#content .searchresult {
	margin:.5em auto 1em;
}
#content .searchresult .text {
	display:block;
	margin-top:.25em;
	margin-left:.5em;
}
#content .searchresult .type {
	display:block;
	margin:.5em 0;
}
#content .searchresult .url {
	color:#999;
	display:block;
	font-size:.9em;
}

#sidepanel {
}
	#sidepanel #tagsList ul
	{
		font-size:.9em;
		list-style-type:none;
	}
	#sidepanel #tagsList li
	{
		display:inline;
		margin-right:.5em;
	}
		#sidepanel #tagsList li.rank1
		{
			font-size:2em;
		}
		#sidepanel #tagsList li.rank2
		{
			font-size:1.5em;
		}
		#sidepanel #tagsList li.rank3
		{
			font-size:1.2em;
		}
		#sidepanel #tagsList li.rank4
		{
			font-size:1em;
		}
		#sidepanel #tagsList li.rank5
		{
			font-size:.9em;
		}
	#sidepanel #monthYearList ul
	{
		list-style-type:none;
	}
		#sidepanel #monthYearList ul ul
		{
			padding-left:.5em;
		}
	#sidepanel #monthYearList .year
	{
		margin-top: .5em;
	}
		#sidepanel #monthYearList .year span
		{
			cursor:pointer;
		}
		#sidepanel #monthYearList .year ul
		{
			margin-left: .5em;
		}
#sidepanel .widget ul, #sidepanel #popularLinks ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
#sidepanel #widgetzone {
	padding:0;
}
#sidepanel .widget {
	padding:5px 10px;
}
#sidepanel .widget ul#monthList ul {
	display: none;
}

#sidepanel .widget ul#monthList ul.open {
	display: block;
}

.tagcloud {
	margin-bottom:1.2em;
	white-space:normal;
}
.tagcloud li {
	display:inline;
}

.tagcloud a {
	display:inline;
	margin-right:.3em;
}
.tagcloud a.biggest {
	font-size:1.1em;
}
.tagcloud a.big {
	font-size:1em;
}
.tagcloud a.medium {
	font-size:.9em;
}
.tagcloud a.small {
	font-size:.8em;
}
.tagcloud a.smallest {
	font-size:.7em;
}
#footer {
	border-top:1px solid #666;
	clear:both;
	font-size:.9em;
	margin-top:0;
	padding:.5em;
}

/* Hacks */
#sidepanel #widgetzone .textbox, #sidepanel #widgetzone .pagelist {
	display:none;
}

/* Custom custom styles */
.waking_life_chapter { /* Waking Life chapter headings. */
	border-bottom:1px solid white;
	clear:right;
	text-align:right;
}
#WebAppDevGuidelines {
}
#WebAppDevGuidelines ul {
	list-style-type:decimal;
}
#WebAppDevGuidelines ul ul {
	list-style-type:lower-alpha;
}
#WebAppDevGuidelines ul ul ul {
	list-style-type:lower-roman;
}