{{ range where .Data.Pages "Type" "post" }}
    <div class="row">
        <div class="col-md-12 content-card">
            <h1>{{ .Title }}</h1>
            <ul class="list-inline">
                <li><i class="fa fa-calendar"></i>{{ .Date.Format "January 2, 2006" }}</li>
                <li><i class="fa fa-user"></i>
					{{ if isset .Params "author" }}
					{{ .Params.author }}
					{{ else if isset .Site.Params "default_author" }}
					{{ .Site.Params.default_author }}
					{{ end }}
				</li>
            </ul>
            {{ .Summary }}
            <p><a class="btn btn-custom" href="{{ .Permalink }}" role="button">Read More</a></p>
        </div>
    </div>
{{ end }}
